<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634072339743-gcicc320pgahv4etq08fb7hkim7sb6do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634072339743-gcicc320pgahv4etq08fb7hkim7sb6do</string>
	<key>API_KEY</key>
	<string>AIzaSyByV8b8lY1_IW8OP15n6tamN_OwVDNYp9w</string>
	<key>GCM_SENDER_ID</key>
	<string>634072339743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ijob.ijobApp</string>
	<key>PROJECT_ID</key>
	<string>chat-ijob-92e27</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ijob-92e27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634072339743:ios:29cc7cf7c799a59bc8cc2a</string>
	<key>DATABASE_URL</key>
	<string>https://chat-ijob-92e27-default-rtdb.firebaseio.com</string>
</dict>
</plist>